@font-face {
	font-family: '_dgicons';
	src:url('fonts/_dgicons.eot?-2v499r');
	src:url('fonts/_dgicons.eot?#iefix-2v499r') format('embedded-opentype'),
		url('fonts/_dgicons.ttf?-2v499r') format('truetype'),
		url('fonts/_dgicons.woff?-2v499r') format('woff'),
		url('fonts/_dgicons.svg?-2v499r#_dgicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="_dgicon-"], [class*=" _dgicon-"] {
	font-family: '_dgicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._dgicon-menu:before {
	content: "\e600";
}
._dgicon-search:before {
	content: "\e60d";
}
._dgicon-close:before {
	content: "\e60a";
}
._dgicon-chevron-down:before {
	content: "\e606";
}
._dgicon-chevron-up:before {
	content: "\e609";
}
._dgicon-chevron-left:before {
	content: "\e607";
}
._dgicon-chevron-right:before {
	content: "\e608";
}
._dgicon-arrow-left:before {
	content: "\e603";
}
._dgicon-arrow-right:before {
	content: "\e604";
}
._dgicon-email:before {
	content: "\e60c";
}
._dgicon-share:before {
	content: "\e60b";
}
._dgicon-facebook:before {
	content: "\ebfc";
}
._dgicon-google:before {
	content: "\ec00";
}
._dgicon-google-old:before {
	content: "\e60f";
}
._dgicon-gplus-old:before {
	content: "\ec01";
}
._dgicon-instagram:before {
	content: "\ec02";
}
._dgicon-linkedin:before {
	content: "\ec03";
}
._dgicon-github:before {
	content: "\ebfe";
}
._dgicon-pinterest:before {
	content: "\ec05";
}
._dgicon-tumblr:before {
	content: "\ec07";
}
._dgicon-twitter:before {
	content: "\ec09";
}
._dgicon-houzz:before {
	content: "\e605";
}
._dgicon-wp:before {
	content: "\e602";
}
._dgicon-d-sq:before {
	content: "\e601";
}
._dgicon-mouse:before {
	content: "\e60e";
}
._dgicon-the-d:before {
	content: "\e610";
}
